.table-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 2vw;
}

.table-title {
    font-size: 1.5vw;
    margin: 0.8vw 0;
}

.table-headers {
    display: flex;
    flex-direction: row;
    font-size: 1vw;
    justify-content: space-between;
    border: 3px solid #242F40;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    padding: 0.5vw;
    background-color: #d7dfeb;
}

.table-header {
    margin: 0;
    width: 14%;
    text-align: center;
}

.table-row {
    display: flex;
    flex-direction: row;
    font-size: 1vw;
    justify-content: space-between;
    align-items: center;
    border-right: 2px solid #242F40;
    border-left: 2px solid #242F40;
    border-bottom: 2px solid #242F40;
    padding: 0.3vw;
    height: fit-content;
}

.table-row-item {
    white-space: nowrap;
    margin: 0;
    width: 14%;
    text-align: center;
    font-weight: normal;
    overflow: hidden;
    cursor: pointer;
}

.detail {
    white-space: nowrap;
    margin: 0;
    width: 14%;
    text-align: center;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.table-row-item:hover {
    white-space: inherit;
    word-wrap: break-word;
}

.table-checkbox {
    margin-right: 2vw !important;
}

.table-lazy-btn {
    border: 1px solid #242F40;
    border-top: none;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    background-color: #d7dfeb;
    padding: 0.8vw;
    color: rgb(79, 79, 79);
    cursor: pointer;
}

@media only screen and (max-width: 640px) {
    .table-container {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 97%;
        transform: none;
    }

    .table-title {
        font-size: 4vw;
        margin: 0vw 1vw 2vw;
    }

    .table-headers {
        display: flex;
        flex-direction: row;
        font-size: 2.5vw;
        justify-content: space-between;
        border: 3px solid #242F40;
        border-top-left-radius: 3vw;
        border-top-right-radius: 3vw;
        padding: 1vw;
        background-color: #d7dfeb;
    }

    .table-header {
        margin: 0;
        width: 15%;
        text-align: center;
    }

    .table-row {
        display: flex;
        flex-direction: row;
        font-size: 2.5vw;
        justify-content: space-between;
        align-items: center;
        border-right: 2px solid #242F40;
        border-left: 2px solid #242F40;
        border-bottom: 2px solid #242F40;
        padding: 1vw;
        height: fit-content;
    }

    .table-row-item {
        white-space: nowrap;
        margin: 0;
        width: 15%;
        text-align: center;
        font-weight: normal;
    }
    
    .detail {
        white-space: nowrap;
        margin: 0;
        width: 15%;
        text-align: center;
        font-weight: normal;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: pointer;
    }

    .table-row-item:hover {
        white-space: inherit;
        word-wrap: break-word;
    }

    .table-checkbox {
        margin-right: 1vw !important;
    }

    .table-lazy-btn {
        border: 1px solid #242F40;
        border-top: none;
        border-bottom-left-radius: 3vw;
        border-bottom-right-radius: 3vw;
        background-color: #d7dfeb;
        padding: 1.5vw;
        color: rgb(79, 79, 79);
    }
}